In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re
import warnings
warnings.filterwarnings('ignore')

C:\ProgramData\Anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
- Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
- A) Rank
- B) Name
- C) Artist
- D) Upload date
- E) Views

In [2]:
driver=webdriver.Chrome(r"C:/Users/Lenovo/Downloads/chromedriver_win32/chromedriver.exe")

In [13]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [38]:
rank=[]
name=[]
artist=[]
date=[]
views=[]

rk=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for j in rk:
    rank.append(j.text)
namee=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]/a')
for j in namee:
    name.append(j.text)
ar=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for j in ar:
    artist.append(j.text)
view=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for j in view:
    views.append(j.text)
dt=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for j in dt:
    date.append(j.text)

In [42]:
details=pd.DataFrame({"No.":rank[:30],
                     "Name":name[:30],
                     "Artist":artist[:30],
                     "Uploaded Date":date[:30],
                     "Viewers":views[:30]})
details

,No.,Name,Artist,Uploaded Date,Viewers
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.98
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.70
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.09
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.58
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.38
5,6.,Uptown Funk,Cocomelon – Nursery Rhymes,"May 2, 2018",4.84
6,7.,Gangnam Style,Miroshka TV,"February 27, 2018",4.55
7,8.,Dame Tu Cosita,Get Movies,"January 31, 2012",4.48
8,9.,Sugar,Mark Ronson,"November 19, 2014",4.42
9,10.,Sorry,ChuChu TV,"March 6, 2014",4.40
10,11.,Roar,Psy,"July 15, 2012",4.30
11,12.,Counting Stars,El Chombo,"April 5, 2018",3.79
12,13.,Thinking Out Loud,Maroon 5,"January 14, 2015",3.62
13,14.,Girls Like You,Justin Bieber,"October 22, 2015",3.50
14,15.,Faded,Katy Perry,"September 5, 2013",3.50
15,16.,Dark Horse,Cocomelon – Nursery Rhymes,"May 24, 2018",3.48
16,17.,Axel F,OneRepublic,"May 31, 2013",3.48
17,18.,Let Her Go,Ed Sheeran,"October 7, 2014",3.39
18,19.,Bailando,Maroon 5,"May 31, 2018",3.21
19,20.,Lean On,Alan Walker,"December 3, 2015",3.21
20,21.,Shake It Off,Katy Perry,"February 20, 2014",3.20
21,22.,Perfect,Crazy Frog,"June 16, 2009",3.17
22,23.,Waka Waka (This Time for Africa),Passenger,"July 25, 2012",3.15
23,24.,Mi Gente,Enrique Iglesias,"April 11, 2014",3.15
24,25.,Pinkfong Baby Shark - Kids' Songs & Stories,Major Lazer,"March 22, 2015",3.15
25,26.,Luis Fonsi,Taylor Swift,"August 18, 2014",3.13
26,27.,Wiz Khalifa,Cocomelon – Nursery Rhymes,"June 25, 2018",3.06
27,28.,Psy,Ed Sheeran,"November 9, 2017",3.06
28,29.,Justin Bieber,Shakira,"June 4, 2010",3.03
29,30.,Lady Gaga,J Balvin,"June 29, 2017",3.02

## 2. Scrape the details team India’s international fixtures from bcci.tv.
- Url = https://www.bcci.tv/.
You need to find following details:
- A) Match title (I.e. 1st ODI)
- B) Series
- C) Place
- D) Date
- E) Time
- Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [23]:
driver.get("https://www.bcci.tv/")

In [24]:
international=driver.find_element_by_xpath("//li[@class='nav-item ml-0']/a").get_attribute('href')
driver.get(international)

In [52]:
match_title=[]
series=[]
place=[]
Date=[]
Time=[]

mt=driver.find_elements_by_xpath("//*[@id='fixtures']/div[3]/div/div/div/div/h5[2]/span")
for i in mt:
    match_title.append(i.text)
s1=driver.find_elements_by_xpath("//*[@id='fixtures']/div[3]/div/div/div/div[4]/div[1]")
for i in s1:
    series.append(i.text)
p1=driver.find_elements_by_xpath("//*[@id='fixtures']/div[3]/div/div/div/div/div/span")
for i in p1:
    place.append(i.text)
d1=driver.find_elements_by_xpath("//*[@id='fixtures']/div[3]/div/div/div/div/div/div[1]/h5")
for i in d1:
    Date.append(i.text)
t1=driver.find_elements_by_xpath("//*[@id='fixtures']/div[3]/div/div/div/div/div/div[2]/h5")
for i in t1:
    Time.append(i.text)

In [53]:
print(len(match_title),len(series),len(place),len(Date),len(Time))

20 20 20 20 20

In [45]:
match=pd.DataFrame({'Match Title':match_title,
                   'Series':series,
                   'Place':place,
                   'Date':Date,
                   'Time':Time})
match

,Match Title,Series,Place,Date,Time
0,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,South Africa\n100-3 (35.0 ov),"Newlands,",11 JAN 2022,LIVE
1,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"1st ODI - Boland Park, Paarl","Boland Park,",19 JAN 2022,2:00 PM IST
2,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"2nd ODI - Boland Park, Paarl","Boland Park,",21 JAN 2022,2:00 PM IST
3,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"3rd ODI - Newlands, Cape Town","Newlands,",23 JAN 2022,2:00 PM IST
4,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"1st ODI - NARENDRA MODI STADIUM, Ahmedabad","NARENDRA MODI STADIUM,",6 FEB 2022,9:30 AM IST
5,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"2nd ODI - Sawai Mansingh Stadium, Jaipur","Sawai Mansingh Stadium,",9 FEB 2022,9:30 AM IST
6,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"3rd ODI - Eden Gardens, Kolkata","Eden Gardens,",12 FEB 2022,9:30 AM IST
7,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"1st T20I - Barabati Stadium, Cuttack","Barabati Stadium,",15 FEB 2022,7:30 PM IST
8,WEST INDIES TOUR OF INDIA T20 SERIES 2022,2nd T20I - Dr YS Rajasekhara Reddy ACA-VDCA Cr...,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",18 FEB 2022,7:30 PM IST
9,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"3rd T20I - Greenfield International Stadium, T...","Greenfield International Stadium,",20 FEB 2022,7:30 PM IST
10,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"1st Test - M Chinnaswamy Stadium, Bengaluru","M Chinnaswamy Stadium,",25 FEB 2022,9:30 AM IST
11,SRI LANKA TOUR OF INDIA TEST SERIES 2022,2nd Test - Punjab Cricket Association IS Bindr...,"Punjab Cricket Association IS Bindra Stadium,",5 MAR 2022,9:30 AM IST
12,SRI LANKA TOUR OF INDIA T20 SERIES 2022,1st T20I - Punjab Cricket Association IS Bindr...,"Punjab Cricket Association IS Bindra Stadium,",13 MAR 2022,7:30 PM IST
13,SRI LANKA TOUR OF INDIA T20 SERIES 2022,2nd T20I - Himachal Pradesh Cricket Associatio...,"Himachal Pradesh Cricket Association Stadium,",15 MAR 2022,7:30 PM IST
14,SRI LANKA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Bharat Ratna Shri Atal Bihari Vajpa...,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,18 MAR 2022,7:30 PM IST
15,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"1st T20I - MA Chidambaram Stadium, Chennai","MA Chidambaram Stadium,",9 JUN 2022,7:30 PM IST
16,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"2nd T20I - M Chinnaswamy Stadium, Bengaluru","M Chinnaswamy Stadium,",12 JUN 2022,7:30 PM IST
17,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Vidarbha Cricket Association Stadiu...,"Vidarbha Cricket Association Stadium,",14 JUN 2022,7:30 PM IST
18,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I - Saurashtra Cricket Association Stad...,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:30 PM IST
19,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"5th T20I - Arun Jaitley Stadium, Delhi","Arun Jaitley Stadium,",19 JUN 2022,7:30 PM IST

## 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
- A) Name
- B) Description
- Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [4]:
driver.get('https://www.guru99.com/')

In [7]:
sel=driver.find_element_by_xpath("//ul[@class='menu1']/li[3]/a").get_attribute('href')
driver.get(sel)

In [13]:
selEx=driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").get_attribute('href')
driver.get(selEx)

In [17]:
Name=[]
Desc=[]
n1=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in n1:
    Name.append(i.text)
d1=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in d1:
    Desc.append(i.text)

In [18]:
selexception=pd.DataFrame({'Exception Name':Name,
              'Description':Desc})
selexception

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

## 4. Scrape the details of State-wise GDP of India from statisticstime.com.
- Url = http://statisticstimes.com/
You have to find following details:
- A) Rank
- B) State
- C) GSDP
- D) GSDP
- E) Share
- F) GDP($ billion)
- Note: - From statisticstimes home page you have to reach to economy page through code.

In [53]:
driver.get('http://statisticstimes.com/')

In [54]:
click_btn=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")
click_btn.click()
stat=driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").get_attribute('href')
driver.get(stat)
gdp=driver.find_element_by_xpath("//html/body/div[2]/div[2]/div[2]/ul/li[1]/a").get_attribute('href')
driver.get(gdp)

In [55]:
rank=[]
state=[]
GSDP_19_20=[]
GSDP_18_19=[]
gsdp_19_20=[]
gsdp_18_19=[]
share=[]
GDP=[]

r1=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]")
for i in r1:
    rank.append(i.text)
s1=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
for i in s1:
    state.append(i.text)
G1=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
for i in G1:
    GSDP_19_20.append(i.text)
G18_19=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in G18_19:
    GSDP_18_19.append(i.text)
sh1=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
for i in sh1:
    share.append(i.text)
gdp1=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp1:
    GDP.append(i.text)
g18_19=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[7]")
for i in g18_19:
    gsdp_18_19.append(i.text)
g19_20=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[7]")
for i in g19_20:
    gsdp_19_20.append(i.text)

In [56]:
GDP_India=pd.DataFrame({'Rank':rank,
                       'State':state,
                       'GSDP (Cr INR at Current prices) 19_20':GSDP_19_20,
                       'GSDP (Cr INR at Current prices) 18_19':GSDP_18_19,
                       'Share':share,
                       'GDP':GDP,
                       'GSDP (Cr INR at 2011-12 prices) ':gsdp_19_20,
                       'GSDP (Cr INR at 2011-12 prices)':gsdp_18_19})
GDP_India

,Rank,State,GSDP (Cr INR at Current prices) 19_20,GSDP (Cr INR at Current prices) 18_19,Share,GDP,GSDP (Cr INR at 2011-12 prices),GSDP (Cr INR at 2011-12 prices)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,-
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,312,929"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,166,817"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,-
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,156,039"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","793,223"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","711,627"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","672,018"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","663,258"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","561,801"
10,11,Kerala,-,"781,653",4.14%,118.733,-,-
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","634,408"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","572,240"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","414,977"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","418,868"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","396,499"
16,17,Assam,-,"315,881",1.67%,47.982,-,-
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","243,477"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","240,036"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,-
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,-
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","124,403"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","63,408"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","40,583"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,-
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","25,093"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","26,695"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","20,017"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","20,673"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,-
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737,-,-
31,32,Mizoram,"26,503","22,287",0.12%,3.385,"18,797","18,797"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

## 5. Scrape the details of trending repositories on Github.com.
- Url = https://github.com/
You have to find the following details:
- A) Repository title
- B) Repository description
- C) Contributors count
- D) Language used
- Note: - From the home page you have to click on the trending option from Explore menu through code.

In [60]:
driver.get('https://github.com/')

In [62]:
ex=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
ex.click()
tre=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a").get_attribute('href')
driver.get(tre)

In [79]:
repository_title=[]
repository_desc=[]
contributors=[]
language=[]

r1=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a/span")
for i in r1:
    repository_title.append(i.text)
rd1=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
for i in rd1:
    if i.text is None:
        repository_desc.append('--')
    else:
        repository_desc.append(i.text)
c1=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[2]")
for i in c1:
    contributors.append(i.text)
l1=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/span[1]/span[2]")
for i in l1:
    if i.text is None:
        language.append('--')
    else:
        language.append(i.text)

In [80]:
print(len(repository_desc),len(repository_title),len(contributors),len(language))

23 25 25 23

In [81]:
github=pd.DataFrame({'Repository Title':repository_title[:23],
                    'Repository Description':repository_desc[:23],
                    'Contributors':contributors[:23],
                    'Language':language[:23]})
github

,Repository Title,Repository Description,Contributors,Language
0,Asabeneh /,30 days of JavaScript programming challenge is...,"2,790",JavaScript
1,faker-js /,Generate massive amounts of fake data in the b...,85,JavaScript
2,Marak /,What really happened with Aaron Swartz?,484,Python
3,521xueweihan /,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...","7,352",JavaScript
4,Marak /,get colors in your node.js console,393,HCL
5,DataTalksClub /,Code for Data Engineer Zoomcamp course,130,PowerShell
6,jamesstringerparsec /,A Project dedicated to making GPU Partitioning...,50,C
7,devsuperior /,你管这破玩意叫操作系统源码 — 像小说一样品读 Linux 0.11 核心代码,38,C#
8,sunym1993 /,Windows system utilities to maximize productivity,401,Python
9,microsoft /,A repo to automatically generate and keep upda...,"3,714",HTML
10,cybersecsi /,浙江大学课程攻略共享计划,11,Go
11,QSCTech /,强大的内网渗透辅助工具集-让Yasso像风一样 支持rdp，ssh，redis，postgr...,"7,254",Dart
12,sairson /,holehe allows you to check if the mail is used...,71,Python
13,VGVentures /,Apache Superset is a Data Visualization and Da...,91,TypeScript
14,megadose /,StarRocks is a next-gen sub-second MPP databas...,229,C++
15,apache /,All Algorithms implemented in Python,"8,406",Python
16,StarRocks /,A tool for finding memory leaks in web apps,376,JavaScript
17,TheAlgorithms /,Evmos is the Ethereum Virtual Machine (EVM) Hu...,"33,819",Go
18,nolanlawson /,a curated list of docker-compose files prepare...,36,Jupyter Notebook
19,tharsis /,A simple program to hook the current process t...,178,C
20,irbigdata /,☠️ An elegant way to show users that something...,26,Swift
21,paranoidninja /,"Interactive, thoroughly customizable maps in t...",16,JavaScript
22,Juanpe /,GraphiQL & the GraphQL LSP Reference Ecosystem...,929,TypeScript

## 6. Scrape the details of top 100 songs on billiboard.com.
- Url = https:/www.billboard.com/
You have to find the following details:
- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board
- Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [82]:
driver.get("https://www.billboard.com/ ")

In [83]:
ch=driver.find_element_by_xpath("//*[@id='mega-menu-item-charts']/a")
ch.click()

In [84]:
h100=driver.find_element_by_xpath("//*[@id='main-wrapper']/main/div[2]/div[1]/div[1]/div/div[1]/div[1]/div[2]/span/a")
h100.click()

In [107]:
songname=[]
artist_name=[]
lastweek_rank=[]
peak_rank=[]
weeks_onboard=[]

s1=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[1]/h3")
for i in s1:
    songname.append(i.text)
a1=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[1]/span")
for i in a1:
    artist_name.append(i.text)
l1=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[4]/span")
for i in l1:
    lastweek_rank.append(i.text)
p1=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[5]/span")
for i in p1:
    peak_rank.append(i.text)
w1=driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[6]/span")
for i in w1:
    weeks_onboard.append(i.text)

In [108]:
print(len(songname),len(artist_name),len(lastweek_rank),len(peak_rank),len(weeks_onboard))

100 100 100 100 100

In [109]:
hot100=pd.DataFrame({'Song Name':songname,
                    'Artist Name':artist_name,
                    'Last Week Rank':lastweek_rank,
                    'Peak Position':peak_rank,
                    'Weeks On board':weeks_onboard})
hot100

,Song Name,Artist Name,Last Week Rank,Peak Position,Weeks On board
0,Easy On Me,Adele,2,1,13
1,Stay,The Kid LAROI & Justin Bieber,6,1,26
2,Heat Waves,Glass Animals,7,3,51
3,Shivers,Ed Sheeran,9,4,17
4,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",50,5,2
...,...,...,...,...,...
95,Me Or Sum,"Nardo Wick, Lil Baby & Future",-,86,2
96,I Love You So,The Walters,-,97,1
97,Bad Man (Smooth Criminal),Polo G,-,49,6
98,Never Wanted To Be That Girl,Carly Pearce & Ashley McBryde,-,99,1
99,Just About Over You,Priscilla Block,-,81,7

## 7. Scrape the details of Data science recruiters from naukri.com.
- Url = https://www.naukri.com/
You have to find the following details:
- A) Name
- B) Designation
- C) Company
- D) Skills they hire for
- E) Location
- Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [110]:
driver.get(' https://www.naukri.com/')

In [114]:
search_field_designation=driver.find_element_by_xpath("//input[@class='suggestor-input ']") #job search bar
search_field_designation.send_keys("Data science")


# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='qsbSubmit']")
search_button.click()

In [115]:
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href')
driver.get(recruiter)

In [146]:
name=[]
design=[]
company=[]
skill=[]
location=[]

n1=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in n1:
    name.append(i.text)
time.sleep(2)
d1=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in d1:
    design.append(i.text)
time.sleep(2)
c1=driver.find_elements_by_xpath("//div[@class='vcard']/p/a/small")
for i in c1:
    if i is None:
        company.append('--')
    else:
        company.append(i.text)
time.sleep(2)
s1=driver.find_elements_by_xpath("//div[@class='hireSec']")
for i in s1:
    skill.append(i.text)
time.sleep(2)
l1=driver.find_elements_by_xpath("//div[@class='vcard']/p/span/small")
for i in l1:
    location.append(i.text)

In [147]:
print(len(name),len(design),len(company),len(skill),len(location))

34 34 29 24 29

In [149]:
Naukari=pd.DataFrame({'Name':name[:24],
                     'Designation':design[:24],
                     'Company Name':company[:24],
                     'Skills':skill[:24],
                     'Location':location[:24]})
Naukari

,Name,Designation,Company Name,Skills,Location
0,Santhosh Kumar,Associate Manager Human Resources,Maveric Systems,"It Recruitment, Campus Recruitment, Campus Hir...",Chennai
1,CodeFlies,Human Resources,CodeFlies,"Email Marketing, Communication, Online Lead Ge...",Noida
2,Surendra R,Company Recruiter,DSR Design & Engineering Solutions,"Design Engineering, AutoCAD, Solid Works",Hyderabad / Secunderabad
3,Gauri Bhosle,Human Resources,TCRC,"Operation Executive, Jr. Chemist/ Chemist, Aud...",Mumbai
4,Sanghvi,Company Recruiter,Primacy Systems Pvt Ltd,"Marketing, Sales, Plastic, Aluminium, Metal, S...",Ahmedabad
5,Rohit Khandelwal,Company Recruiter,PADHAI HELP PRIVATE LIMITED,Marketing,Jaipur
6,Neha Pandey,Company Recruiter,Ingenious E-Brain Solutions Private Limited,"B.tech, Operations, Business Development, Busi...",Gurgaon
7,Vinita Raut,Company Recruiter,Xpansion HR Solutions Private Limited,"Bde, Accounting, Education Counseling, Sales, ...",Pune
8,Amar Pramanik,Company Recruiter,SSPM,"Data Entry Operation, Data Entry, Offline, Par...",Kolkata
9,BALA Sakthivelmuthu,Company Recruiter,E Vel,"Html, Css, Javascript, Ui Development, Java, A...",Madurai
10,Anandi Bandekar,Deputy Manager Recruitment,GeBBS Healthcare Solutions,"CTO, VP, Sr.Manager",Mumbai
11,Reena Dwivedi,Human Resource Manager,NDS Jewels Pvt Ltd.,"housekeeping, Accounts Receivable, maintenance...",Varanasi / Banaras
12,aditya pungavkar,Company Recruiter,IP ASSOCIATES,"Autocad, Google Sketchup, Architectural Design...",Pune
13,Kusum Chaudhary,Human Resources,Chadha Industries Pvt. Ltd.,"gm-sales, Manager Sales, analyst, Business Ana...",Delhi
14,Prarit Gupta,Human Resource Manager,HMS Relations Management,"Counter Sales, Sales",Delhi
15,Raghu Hrexecutive,Human Resource manager,IQs soft,"Java/J2ee ( Core Java, Struts, Hibernate, Serv...",Bengaluru / Bangalore
16,Take jobs,Human Resources,Take Jobs,"tally, Bank Reconciliation, billing, electrica...",Delhi
17,iNFIN Technologies,Human Resources,Infin Software Technologies Pvt. Ltd,"Technical, PHP, Web Development, Web Technolog...",Chandigarh
18,Punit Kumar Bhidodiya,Human Resource Manager,Exatip Technologies,"Software Development, Business Development",Indore
19,Ishan Ahmed,Human Resource Manager,Jute Wonders Unlimited,Back Office,Delhi
20,Sreekanth Menon,Human Resources,Sterlite Technologies Ltd. Elitecore,"C++, Java/j2ee, C, Networking, Radius, Diamete...",Ahmedabad
21,Abhishek,Human Resource Manager,Infosys Technology,"Sap Abap, Sap Basis, Sap Fico, Sap Bi, java, C...",Hyderabad / Secunderabad
22,TechCube IT Services Pvt Ltd,Human Resource Manager,TechCube IT Services Pvt Ltd,Skills- Technical Troubleshooting / Sales / Up...,Mohali
23,Fatte Chand Soni,Human Resource Generalist,Tetraskelion Softwares (P) Ltd,".Net, Java, PHP, Android, Testing, IOS, Web an...",Jaipur

## 8. Scrape the details of Highest selling novels.
- Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
- A) Book name
- B) Author name
- C) Volumes sold
- D) Publisher
- E) Genre

In [151]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/')

## This type of URL is not available that scrape details regarding books

## 9. Scrape the details most watched tv series of all time from imdb.com.
- Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
- A) Name
- B) Year span
- C) Genre
- D) Run time
- E) Ratings
- F) Votes

In [154]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [159]:
name=[]
year=[]
Genre=[]
Runtime=[]
rating=[]
votes=[]

n1=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in n1:
    name.append(i.text)
y1=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in y1:
    year.append(i.text)
g1=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in g1:
    Genre.append(i.text)
r1=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in r1:
    Runtime.append(i.text)
rat1=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in rat1:
    rating.append(i.text)
v1=driver.find_elements_by_name("nv")
for i in v1:
    votes.append(i.text)

In [160]:
print(len(name),len(year),len(Genre),len(Runtime),len(rating),len(votes))

100 100 100 100 100 100

In [161]:
TVSeries=pd.DataFrame({'Movie Name':name,
                      'Year':year,
                      'Genre':Genre,
                      'Run Time':Runtime,
                      'Rating':rating,
                      'Votes':votes})
TVSeries

,Movie Name,Year,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,929,213"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"950,638"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"921,717"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"276,132"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,389"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,143"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,936"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,896"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,241"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,770"

## 10. Details of Datasets from UCI machine learning repositories.
- Url = https://archive.ics.uci.edu/
You have to find the following details:
- A) Dataset name
- B) Data type
- C) Task
- D) Attribute type
- E) No of instances

In [3]:
driver.get('https://archive.ics.uci.edu/')

In [5]:
view=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a").get_attribute('href')
driver.get(view)

In [18]:
dataset_name=[]
dttype=[]
task=[]
attribute_type=[]
No_instances=[]

dn=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in dn:
    dataset_name.append(i.text)
dt=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in dt:
    dttype.append(i.text)
t1=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in t1:
    task.append(i.text)
at=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in at:
    attribute_type.append(i.text)
n1=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in n1:
    No_instances.append(i.text)

In [19]:
print(len(dataset_name),len(dttype),len(task),len(attribute_type),len(No_instances))

622 623 623 623 623

In [22]:
data=pd.DataFrame({'Dataset Name':dataset_name,
                       'Data Type':dttype[1:],
                       'Task':task[1:],
                       'Attribute Type':attribute_type[1:],
                       'No of Instance':No_instances[1:]})
data

,Dataset Name,Data Type,Task,Attribute Type,No of Instance
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177
1,Adult,Multivariate,Classification,"Categorical, Integer",48842
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452
...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400
619,Maternal Health Risk Data Set,,Classification,,1014
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000