## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [85]:
import selenium
import pandas as pd
from selenium import webdriver

In [86]:
driver=webdriver.Chrome(r"C:/Users/Lenovo/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-86-da08593c35f4>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/Lenovo/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
driver.get('http://www.naukri.com/')

In [4]:
#finding element for job search bar as "Data Analyst" in "Bangalore"
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

<ipython-input-4-a342457f8275>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-4-a342457f8275>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [5]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-5-8db898a03ada>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [6]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [7]:
#lets open the webpage through our web driver
driver.get(url)

1. job title
2. company name
3. locations list
4. experience list

In [9]:
# solet's extract all the tags having the job_titles
job_title=[]
company_names=[]
location_list=[]
experience_list=[]

In [10]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
compnies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

<ipython-input-10-ecd30c295849>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-10-ecd30c295849>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  compnies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-10-ecd30c295849>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
<ipython-input-10-ecd30c295849>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [11]:
# Now the text of the job title is inside the tags extracted above
# so we will run a loop to iterate over the tags extracted above and extracted the detail
for i in title_tags:
    title=i.text
    job_title.append(title)
for i in compnies_tags:
    company_name=i.text
    company_names.append(company_name)

for i in experience_tags:
    experience=i.text
    experience_list.append(experience)

for i in location_tags:
    location=i.text
    location_list.append(location)

In [12]:
print(len(job_title),len(company_names),len(experience_list),len(location_list))

20 20 20 20

In [13]:
jobs=pd.DataFrame({})
jobs['title']=job_title
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=location_list

In [15]:
jobs[0:10]

,title,company,experience_required,location
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs,Bangalore/Bengaluru
1,Business Analyst/ Data Analyst- Capital Market...,Genpact,7-12 Yrs,"Pune, Bangalore/Bengaluru"
2,Senior Data Analyst III,Flipkart,2-4 Yrs,Bengaluru/Bangalore
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs,Bangalore/Bengaluru
4,Data Analyst,Schneider Electric,2-5 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst for HANA Platform,Intel,5-10 Yrs,Bangalore/Bengaluru
7,Assistant/deputy Manager - Geo-spatial Data An...,Maruti Suzuki India,3-5 Yrs,"Gurgaon/Gurugram, bangalore"
8,Data Analyst,Slice,0-2 Yrs,Bangalore/Bengaluru
9,DG - Business Analyst - Data Visualization & A...,ExecBoardinAsia,5-10 Yrs,Bangalore/Bengaluru

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [18]:
driver.get('http://www.naukri.com/')

In [19]:
#finding element for job search bar as "Data Scientist" in "Bangalore"
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

<ipython-input-19-c39bbb6f2938>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-19-c39bbb6f2938>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [20]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-20-8db898a03ada>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [21]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [23]:
driver.get(url)

In [24]:
# solet's extract all the tags having the job_titles
job_title1=[]
company_names1=[]
location_list1=[]
experience_list1=[]

In [25]:
title_tags1=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
compnies_tags1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
experience_tags1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
location_tags1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

<ipython-input-25-ad6ec97e2533>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags1=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-25-ad6ec97e2533>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  compnies_tags1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-25-ad6ec97e2533>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
<ipython-input-25-ad6ec97e2533>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tags1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [26]:
# Now the text of the job title is inside the tags extracted above
# so we will run a loop to iterate over the tags extracted above and extracted the detail
for i in title_tags1:
    titlee=i.text
    job_title1.append(titlee)
for i in compnies_tags1:
    company_namee=i.text
    company_names1.append(company_namee)

for i in experience_tags1:
    experiencee=i.text
    experience_list1.append(experiencee)

for i in location_tags1:
    locationn=i.text
    location_list1.append(locationn)

In [27]:
jobss=pd.DataFrame({})
jobss['title']=job_title1
jobss['company']=company_names1
jobss['experience_required']=experience_list1
jobss['location']=location_list1

In [28]:
jobss[0:10]

,title,company,experience_required,location
0,Data Scientist,Snaphunt,0-2 Yrs,Bangalore/Bengaluru
1,Deputy Manager - Data Scientist,HDFC LIFE INSURANCE COMPANY LIMITED,3-7 Yrs,Bangalore/Bengaluru
2,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,5-7 Yrs,Bengaluru/Bangalore
3,Tcs Hiring For Azure ML Data Scientist,Tata Consultancy Services Ltd.,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
4,Data Science - Senior Data Scientist,Paytm,2-4 Yrs,"Noida, Bangalore/Bengaluru"
5,Senior Data Scientist,Ally-Executive,5-8 Yrs,Bangalore/Bengaluru
6,Senior Data Scientist,Visa,4-9 Yrs,Bangalore/Bengaluru
7,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,3-8 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
8,Data scientist,Superior Group,5-10 Yrs,Bangalore/Bengaluru
9,Data Scientist,Thoucentric Technology Pvt ltd,1-6 Yrs,Bangalore/Bengaluru

# Q.3 In this question you have to scrape data using the filters available on the webpage
- You have to use the location and salary filter.
- You have to scrape data for “Data Scientist” designation for first 10 job results.
- You have to scrape the job-title, job-location, company name, experience required.
- The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs
- The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [30]:
driver.get('http://www.naukri.com/')

In [31]:
#finding element for job search bar as "Data Scientist" in "Bangalore"
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

<ipython-input-31-1f06ef3c2379>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')

In [32]:
search_btnn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btnn.click()

<ipython-input-32-27747e043ce9>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btnn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [33]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"

In [34]:
driver.get(url)

In [35]:
# solet's extract all the tags having the job_titles
job_title11=[]
company_names11=[]
location_list11=[]
experience_list11=[]

In [36]:
title_tags11=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
compnies_tags11=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
experience_tags11=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
location_tags11=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

<ipython-input-36-e373664e27ef>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags11=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-36-e373664e27ef>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  compnies_tags11=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-36-e373664e27ef>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags11=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
<ipython-input-36-e373664e27ef>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tags11=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [37]:
# Now the text of the job title is inside the tags extracted above
# so we will run a loop to iterate over the tags extracted above and extracted the detail
for i in title_tags11:
    titlee=i.text
    job_title11.append(titlee)
for i in compnies_tags11:
    company_namee=i.text
    company_names11.append(company_namee)

for i in experience_tags11:
    experiencee=i.text
    experience_list11.append(experiencee)

for i in location_tags11:
    locationn=i.text
    location_list11.append(locationn)

In [38]:
jobsss=pd.DataFrame({})
jobsss['title']=job_title11
jobsss['company']=company_names11
jobsss['experience_required']=experience_list11
jobsss['location']=location_list11

In [39]:
jobsss[0:10]

,title,company,experience_required,location
0,Data Scientist,LG Electronics India Pvt. Ltd.,0-2 Yrs,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,..."
1,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda..."
2,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,1-5 Yrs,Remote
3,Data Scientist,Navikenz India Pvt Ltd,2-7 Yrs,"Noida, Nodia\n(WFH during Covid)"
4,Hiring For Data Analyst / Data Scientist,Careerera,1-3 Yrs,Noida(Sector-59 Noida)
5,Data Scientist,Whizhack Technologies pvt ltd,2-5 Yrs,Gurgaon/Gurugram
6,Data Scientist,One Mobikwik Systems Private Limited,2-5 Yrs,Gurgaon/Gurugram
7,Hiring For Data Scientist,Tata Consultancy Services Ltd.,4-9 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
8,Data Scientist/ Senior Data Scientist,Newgen Software Technologies,2-5 Yrs,Noida
9,Urgent Hiring For Data Scientist | Work From O...,Careerera,2-7 Yrs,Noida(Sector-59 Noida)

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [88]:
driver.get('http://www.flipkart.com/')

In [12]:

search_sunglasses=driver.find_element_by_class_name('_3704LK')
search_sunglasses.send_keys("sunglasses")

<ipython-input-12-a9fd5ec66827>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_sunglasses=driver.find_element_by_class_name('_3704LK')

In [13]:
search_btnn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btnn.click()

<ipython-input-13-25c6cba108d4>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btnn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [14]:
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [15]:
driver.get(url)

In [57]:
brand=[]
product_detail=[]
price=[]

In [74]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
product_detaill=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pricee=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

<ipython-input-74-8a987f901dbd>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-74-8a987f901dbd>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  product_detaill=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-74-8a987f901dbd>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pricee=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [67]:
for i in brand_tags:
    bd=i.text
    brand.append(bd)
brand

['SRPM',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'New Specs',
 'kingsunglasses',
 'kingsunglasses',
 'Fastrack',
 'kingsunglasses',
 'Singco India',
 'New Specs',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'PIRASO',
 'Rich Club',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'hipe',
 'ROZZETTA CRAFT',
 'PIRASO',
 'kingsunglasses',
 'kingsunglasses',
 'agera',
 'Rich Club',
 'Lee Topper',
 'Elligator',
 'ROYAL SON',
 'kingsunglasses',
 'ROYAL SON',
 'SRPM',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'New Specs',
 'kingsunglasses',
 'kingsunglasses',
 'Fastrack',
 'kingsunglasses',
 'Singco India',
 'New Specs',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'PIRASO',
 'Rich Club',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'hipe',
 'ROZZETTA CRAFT',
 'PIRASO',
 'kingsunglasses',
 'kingsunglasses',
 'agera',
 'Rich Club',
 'Lee Topper',
 'Elligator',
 'ROYAL SON',
 'kingsunglasses',
 'ROYAL SON']

In [75]:
for i in product_detaill:
    pdd=i.text
    product_detail.append(pdd)
product_detail

['SRPM\nUV Protection Wayfarer Sunglasses (56)\n₹188₹1,29985% off',
 'Elligator\nUV Protection Round Sunglasses (54)\n₹248₹2,49590% off',
 'PIRASO\nUV Protection Aviator Sunglasses (54)\n₹187₹1,59988% off',
 'PIRASO\nUV Protection Aviator Sunglasses (54)\n₹200₹1,59987% off',
 'New Specs\nUV Protection Rectangular Sunglasses (Free Size)\n₹259₹1,99987% off\nSize Free Size',
 'kingsunglasses\nUV Protection Round Sunglasses (54)\n₹189₹1,09982% off\nSize Medium',
 'kingsunglasses\nMirrored, UV Protection Wayfarer Sunglasses (53)\n₹274₹1,99986% off\nSize Free Size, Medium',
 'Fastrack\nUV Protection Wayfarer Sunglasses (Free Size)\n₹699₹89922% off\nFree delivery',
 'kingsunglasses\nUV Protection, Riding Glasses, Mirrored Wayfarer Sungla...\n₹187₹1,19984% off',
 'Singco India\nMirrored, Riding Glasses, Others Sports Sunglasses (50)\n₹194₹1,49987% off',
 'New Specs\nMirrored, UV Protection, Riding Glasses, Others Round S...\n₹259₹1,39981% off',
 'SHAAH COLLECTIONS\nUV Protection, Polarized, Mirrored Rectangular Sunglass...\n₹170₹1,69989% off',
 'PHENOMENAL\nUV Protection, Mirrored Retro Square Sunglasses (53)\n₹299₹1,99985% off',
 'PIRASO\nUV Protection Aviator Sunglasses (54)\n₹187₹1,59988% off',
 'Rich Club\nPolarized Round Sunglasses (48)\n₹175₹49964% off',
 'PHENOMENAL\nUV Protection Retro Square Sunglasses (Free Size)\n₹319₹1,99984% off',
 'ROZZETTA CRAFT\nUV Protection Retro Square Sunglasses (Free Size)\n₹474₹2,22578% off',
 'ROYAL SON\nMirrored Aviator Sunglasses (55)\n₹359₹1,49976% off',
 'SUNBEE\nUV Protection, Polarized, Mirrored Round Sunglasses (Fr...\n₹271₹1,69984% off',
 'ROZZETTA CRAFT\nUV Protection, Gradient Rectangular Sunglasses (Free Si...\n₹383₹1,99980% off',
 'PIRASO\nUV Protection, Polarized Aviator Sunglasses (32)\n₹164₹1,59989% off',
 'SHAAH COLLECTIONS\nUV Protection, Polarized, Mirrored Rectangular Sunglass...\n₹181₹99981% off',
 'PIRASO\nUV Protection Aviator Sunglasses (55)\n₹179₹1,59988% off',
 'ROZZETTA CRAFT\nUV Protection, Gradient Round Sunglasses (Free Size)\n₹360₹1,99981% off',
 'PIRASO\nUV Protection Wayfarer Sunglasses (32)\n₹187₹1,59988% off',
 'Singco India\nUV Protection, Riding Glasses, Others Aviator, Wayfarer...\n₹229₹69967% off',
 'PIRASO\nUV Protection Aviator Sunglasses (58)\n₹299₹2,59988% off',
 'ROYAL SON\nUV Protection Rectangular Sunglasses (58)\n₹449₹1,49970% off',
 'hipe\nUV Protection Sports Sunglasses (Free Size)\n₹287₹1,89984% off\nBuy 2 items, save extra 5%',
 'ROZZETTA CRAFT\nUV Protection Round Sunglasses (Free Size)\n₹426₹2,66584% off',
 'PIRASO\nUV Protection Aviator Sunglasses (Free Size)\n₹261₹1,59983% off',
 'kingsunglasses\nUV Protection Rectangular Sunglasses (Free Size)\n₹192₹1,09982% off',
 'kingsunglasses\nMirrored, UV Protection Aviator Sunglasses (56)\n₹211₹1,29983% off',
 'agera\nGradient Aviator Sunglasses (55)\n₹196₹1,14982% off\nBuy 2 items, save extra 5%',
 'Rich Club\nPolarized Round Sunglasses (48)\n₹163₹49967% off',
 'Lee Topper\nRiding Glasses, Night Vision Wrap-around Sunglasses (Fr...\n₹276₹2,49988% off',
 'Elligator\nUV Protection Round Sunglasses (55)\n₹239₹1,99688% off',
 'ROYAL SON\nUV Protection Round Sunglasses (50)\n₹359₹1,49976% off',
 'kingsunglasses\nUV Protection, Night Vision Wayfarer Sunglasses (Free S...\n₹279₹1,69983% off',
 'ROYAL SON\nMirrored Aviator Sunglasses (55)\n₹359₹1,49976% off',
 'SRPM\nUV Protection Wayfarer Sunglasses (56)\n₹188₹1,29985% off',
 'Elligator\nUV Protection Round Sunglasses (54)\n₹248₹2,49590% off',
 'PIRASO\nUV Protection Aviator Sunglasses (54)\n₹187₹1,59988% off',
 'PIRASO\nUV Protection Aviator Sunglasses (54)\n₹200₹1,59987% off',
 'New Specs\nUV Protection Rectangular Sunglasses (Free Size)\n₹259₹1,99987% off\nSize Free Size',
 'kingsunglasses\nUV Protection Round Sunglasses (54)\n₹189₹1,09982% off\nSize Medium',
 'kingsunglasses\nMirrored, UV Protection Wayfarer Sunglasses (53)\n₹274₹1,99986% off\nSize Free Size, Medium',
 'Fastrack\nUV Protection Wayfarer Sunglasses (Free Size)\n₹699₹89922% off\nFree delivery',
 'kingsunglasses\nUV Protection, Riding Glasses, Mirrored Wayfarer Sungla...\n₹187₹1,19984% off',
 'Singco India\nMirrored, Riding Glasses, Others Sports Sunglasses (50)\n₹194₹1,49987% off',
 'New Specs\nMirrored, UV Protection, Riding Glasses, Others Round S...\n₹259₹1,39981% off',
 'SHAAH COLLECTIONS\nUV Protection, Polarized, Mirrored Rectangular Sunglass...\n₹170₹1,69989% off',
 'PHENOMENAL\nUV Protection, Mirrored Retro Square Sunglasses (53)\n₹299₹1,99985% off',
 'PIRASO\nUV Protection Aviator Sunglasses (54)\n₹187₹1,59988% off',
 'Rich Club\nPolarized Round Sunglasses (48)\n₹175₹49964% off',
 'PHENOMENAL\nUV Protection Retro Square Sunglasses (Free Size)\n₹319₹1,99984% off',
 'ROZZETTA CRAFT\nUV Protection Retro Square Sunglasses (Free Size)\n₹474₹2,22578% off',
 'ROYAL SON\nMirrored Aviator Sunglasses (55)\n₹359₹1,49976% off',
 'SUNBEE\nUV Protection, Polarized, Mirrored Round Sunglasses (Fr...\n₹271₹1,69984% off',
 'ROZZETTA CRAFT\nUV Protection, Gradient Rectangular Sunglasses (Free Si...\n₹383₹1,99980% off',
 'PIRASO\nUV Protection, Polarized Aviator Sunglasses (32)\n₹164₹1,59989% off',
 'SHAAH COLLECTIONS\nUV Protection, Polarized, Mirrored Rectangular Sunglass...\n₹181₹99981% off',
 'PIRASO\nUV Protection Aviator Sunglasses (55)\n₹179₹1,59988% off',
 'ROZZETTA CRAFT\nUV Protection, Gradient Round Sunglasses (Free Size)\n₹360₹1,99981% off',
 'PIRASO\nUV Protection Wayfarer Sunglasses (32)\n₹187₹1,59988% off',
 'Singco India\nUV Protection, Riding Glasses, Others Aviator, Wayfarer...\n₹229₹69967% off',
 'PIRASO\nUV Protection Aviator Sunglasses (58)\n₹299₹2,59988% off',
 'ROYAL SON\nUV Protection Rectangular Sunglasses (58)\n₹449₹1,49970% off',
 'hipe\nUV Protection Sports Sunglasses (Free Size)\n₹287₹1,89984% off\nBuy 2 items, save extra 5%',
 'ROZZETTA CRAFT\nUV Protection Round Sunglasses (Free Size)\n₹426₹2,66584% off',
 'PIRASO\nUV Protection Aviator Sunglasses (Free Size)\n₹261₹1,59983% off',
 'kingsunglasses\nUV Protection Rectangular Sunglasses (Free Size)\n₹192₹1,09982% off',
 'kingsunglasses\nMirrored, UV Protection Aviator Sunglasses (56)\n₹211₹1,29983% off',
 'agera\nGradient Aviator Sunglasses (55)\n₹196₹1,14982% off\nBuy 2 items, save extra 5%',
 'Rich Club\nPolarized Round Sunglasses (48)\n₹163₹49967% off',
 'Lee Topper\nRiding Glasses, Night Vision Wrap-around Sunglasses (Fr...\n₹276₹2,49988% off',
 'Elligator\nUV Protection Round Sunglasses (55)\n₹239₹1,99688% off',
 'ROYAL SON\nUV Protection Round Sunglasses (50)\n₹359₹1,49976% off',
 'kingsunglasses\nUV Protection, Night Vision Wayfarer Sunglasses (Free S...\n₹279₹1,69983% off',
 'ROYAL SON\nMirrored Aviator Sunglasses (55)\n₹359₹1,49976% off',
 'SRPM\nUV Protection Wayfarer Sunglasses (56)\n₹188₹1,29985% off',
 'Elligator\nUV Protection Round Sunglasses (54)\n₹248₹2,49590% off',
 'PIRASO\nUV Protection Aviator Sunglasses (54)\n₹187₹1,59988% off',
 'PIRASO\nUV Protection Aviator Sunglasses (54)\n₹200₹1,59987% off',
 'New Specs\nUV Protection Rectangular Sunglasses (Free Size)\n₹259₹1,99987% off\nSize Free Size',
 'kingsunglasses\nUV Protection Round Sunglasses (54)\n₹189₹1,09982% off\nSize Medium',
 'kingsunglasses\nMirrored, UV Protection Wayfarer Sunglasses (53)\n₹274₹1,99986% off\nSize Free Size, Medium',
 'Fastrack\nUV Protection Wayfarer Sunglasses (Free Size)\n₹699₹89922% off\nFree delivery',
 'kingsunglasses\nUV Protection, Riding Glasses, Mirrored Wayfarer Sungla...\n₹187₹1,19984% off',
 'Singco India\nMirrored, Riding Glasses, Others Sports Sunglasses (50)\n₹194₹1,49987% off',
 'New Specs\nMirrored, UV Protection, Riding Glasses, Others Round S...\n₹259₹1,39981% off',
 'SHAAH COLLECTIONS\nUV Protection, Polarized, Mirrored Rectangular Sunglass...\n₹170₹1,69989% off',
 'PHENOMENAL\nUV Protection, Mirrored Retro Square Sunglasses (53)\n₹299₹1,99985% off',
 'PIRASO\nUV Protection Aviator Sunglasses (54)\n₹187₹1,59988% off',
 'Rich Club\nPolarized Round Sunglasses (48)\n₹175₹49964% off',
 'PHENOMENAL\nUV Protection Retro Square Sunglasses (Free Size)\n₹319₹1,99984% off',
 'ROZZETTA CRAFT\nUV Protection Retro Square Sunglasses (Free Size)\n₹474₹2,22578% off',
 'ROYAL SON\nMirrored Aviator Sunglasses (55)\n₹359₹1,49976% off',
 'SUNBEE\nUV Protection, Polarized, Mirrored Round Sunglasses (Fr...\n₹271₹1,69984% off',
 'ROZZETTA CRAFT\nUV Protection, Gradient Rectangular Sunglasses (Free Si...\n₹383₹1,99980% off',
 'PIRASO\nUV Protection, Polarized Aviator Sunglasses (32)\n₹164₹1,59989% off',
 'SHAAH COLLECTIONS\nUV Protection, Polarized, Mirrored Rectangular Sunglass...\n₹181₹99981% off',
 'PIRASO\nUV Protection Aviator Sunglasses (55)\n₹179₹1,59988% off',
 'ROZZETTA CRAFT\nUV Protection, Gradient Round Sunglasses (Free Size)\n₹360₹1,99981% off',
 'PIRASO\nUV Protection Wayfarer Sunglasses (32)\n₹187₹1,59988% off',
 'Singco India\nUV Protection, Riding Glasses, Others Aviator, Wayfarer...\n₹229₹69967% off',
 'PIRASO\nUV Protection Aviator Sunglasses (58)\n₹299₹2,59988% off',
 'ROYAL SON\nUV Protection Rectangular Sunglasses (58)\n₹449₹1,49970% off',
 'hipe\nUV Protection Sports Sunglasses (Free Size)\n₹287₹1,89984% off\nBuy 2 items, save extra 5%',
 'ROZZETTA CRAFT\nUV Protection Round Sunglasses (Free Size)\n₹426₹2,66584% off',
 'PIRASO\nUV Protection Aviator Sunglasses (Free Size)\n₹261₹1,59983% off',
 'kingsunglasses\nUV Protection Rectangular Sunglasses (Free Size)\n₹192₹1,09982% off',
 'kingsunglasses\nMirrored, UV Protection Aviator Sunglasses (56)\n₹211₹1,29983% off',
 'agera\nGradient Aviator Sunglasses (55)\n₹196₹1,14982% off\nBuy 2 items, save extra 5%',
 'Rich Club\nPolarized Round Sunglasses (48)\n₹163₹49967% off',
 'Lee Topper\nRiding Glasses, Night Vision Wrap-around Sunglasses (Fr...\n₹276₹2,49988% off',
 'Elligator\nUV Protection Round Sunglasses (55)\n₹239₹1,99688% off',
 'ROYAL SON\nUV Protection Round Sunglasses (50)\n₹359₹1,49976% off',
 'kingsunglasses\nUV Protection, Night Vision Wayfarer Sunglasses (Free S...\n₹279₹1,69983% off',
 'ROYAL SON\nMirrored Aviator Sunglasses (55)\n₹359₹1,49976% off',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Polarized Aviator Sunglasses (32)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Polarized Aviator Sunglasses (32)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Polarized Aviator Sunglasses (32)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)']

In [73]:
for i in pricee:
    rs=i.text
    price.append(rs)
price

['₹188',
 '₹248',
 '₹187',
 '₹200',
 '₹259',
 '₹189',
 '₹274',
 '₹699',
 '₹187',
 '₹194',
 '₹259',
 '₹170',
 '₹299',
 '₹187',
 '₹175',
 '₹319',
 '₹474',
 '₹359',
 '₹271',
 '₹383',
 '₹164',
 '₹181',
 '₹179',
 '₹360',
 '₹187',
 '₹229',
 '₹299',
 '₹449',
 '₹287',
 '₹426',
 '₹261',
 '₹192',
 '₹211',
 '₹196',
 '₹163',
 '₹276',
 '₹239',
 '₹359',
 '₹279',
 '₹359',
 '₹188',
 '₹248',
 '₹187',
 '₹200',
 '₹259',
 '₹189',
 '₹274',
 '₹699',
 '₹187',
 '₹194',
 '₹259',
 '₹170',
 '₹299',
 '₹187',
 '₹175',
 '₹319',
 '₹474',
 '₹359',
 '₹271',
 '₹383',
 '₹164',
 '₹181',
 '₹179',
 '₹360',
 '₹187',
 '₹229',
 '₹299',
 '₹449',
 '₹287',
 '₹426',
 '₹261',
 '₹192',
 '₹211',
 '₹196',
 '₹163',
 '₹276',
 '₹239',
 '₹359',
 '₹279',
 '₹359',
 '₹188',
 '₹248',
 '₹187',
 '₹200',
 '₹259',
 '₹189',
 '₹274',
 '₹699',
 '₹187',
 '₹194',
 '₹259',
 '₹170',
 '₹299',
 '₹187',
 '₹175',
 '₹319',
 '₹474',
 '₹359',
 '₹271',
 '₹383',
 '₹164',
 '₹181',
 '₹179',
 '₹360',
 '₹187',
 '₹229',
 '₹299',
 '₹449',
 '₹287',
 '₹426',
 '₹261',
 '₹192',
 '₹211',
 '₹196',
 '₹163',
 '₹276',
 '₹239',
 '₹359',
 '₹279',
 '₹359']

In [76]:
print(len(brand),len(product_detail),len(price))

80 240 120

In [82]:
import pandas as pd
su=pd.DataFrame({})
su['sunglass_Brand']=brand[:80]
su['Production_Details']=product_detail[:80]
su['Price']=price[:80]

In [83]:
su

    sunglass_Brand                                 Production_Details Price
0             SRPM  SRPM\nUV Protection Wayfarer Sunglasses (56)\n...  ₹188
1        Elligator  Elligator\nUV Protection Round Sunglasses (54)...  ₹248
2           PIRASO  PIRASO\nUV Protection Aviator Sunglasses (54)\...  ₹187
3           PIRASO  PIRASO\nUV Protection Aviator Sunglasses (54)\...  ₹200
4        New Specs  New Specs\nUV Protection Rectangular Sunglasse...  ₹259
..             ...                                                ...   ...
75      Lee Topper  Lee Topper\nRiding Glasses, Night Vision Wrap-...  ₹276
76       Elligator  Elligator\nUV Protection Round Sunglasses (55)...  ₹239
77       ROYAL SON  ROYAL SON\nUV Protection Round Sunglasses (50)...  ₹359
78  kingsunglasses  kingsunglasses\nUV Protection, Night Vision Wa...  ₹279
79       ROYAL SON  ROYAL SON\nMirrored Aviator Sunglasses (55)\n₹...  ₹359

[80 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
1. Rating
2. Review_summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [179]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
url1="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2"
url2="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3"
url3="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4"
url4="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5"
url5="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6"
url6="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7"
url7="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8"
url8="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9"
url9="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10"

In [180]:
driver.get(url)
driver.get(url1)
driver.get(url2)
driver.get(url3)
driver.get(url4)
driver.get(url5)
driver.get(url6)
driver.get(url7)
driver.get(url8)
driver.get(url9)

In [101]:
rating=[]
review=[]
full_review=[]

In [181]:
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
full_review_tags=driver.find_elements_by_xpath("//div[@class='']")

<ipython-input-181-8c4cb7a2b4c0>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-181-8c4cb7a2b4c0>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-181-8c4cb7a2b4c0>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  full_review_tags=driver.find_elements_by_xpath("//div[@class='']")

In [182]:
for i in rating_tags:
    rt=i.text
    rating.append(rt)
for i in review_tags:
    rtt=i.text
    review.append(rtt)
for i in full_review_tags:
    frtt=i.text
    full_review.append(frtt)
print(len(rating),len(review),len(full_review))

143 120 120

In [183]:
iphone=pd.DataFrame({})
iphone['Rating']=rating[:100]
iphone['Review']=review[:100]
iphone['Full Reiview']=full_review[:100]

In [188]:
iphone

,Rating,Review,Full Reiview
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Wonderful,I genuinely liked it. One of the best mobile p...
96,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."
97,5,Good quality product,"Awesome camera, smooth and fast UI, display is..."
98,4,Fabulous!,Good product nice experience with Flipkart but...
99,5,Worth every penny,Here is the thing\n\nThe only reason why you s...

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [112]:
driver.get('http://www.flipkart.com/')

In [113]:
search_sneakers=driver.find_element_by_class_name('_3704LK')
search_sneakers.send_keys("sneakers")

<ipython-input-113-e7c7c19cfcab>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_sneakers=driver.find_element_by_class_name('_3704LK')

In [114]:
search_btnn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btnn.click()

<ipython-input-114-25c6cba108d4>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btnn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [123]:
url="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
url1="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2"

In [126]:
driver.get(url)
driver.get(url1)

In [117]:
Brand=[]
Production_Detail=[]
Price=[]

In [127]:
brand_tagss=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
product_detailll=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
priceee=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

<ipython-input-127-1e1468dd40e1>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tagss=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-127-1e1468dd40e1>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  product_detailll=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-127-1e1468dd40e1>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  priceee=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [131]:
for i in brand_tagss:
    bd=i.text
    Brand.append(bd)
for i in product_detailll:
    pddd=i.text
    Production_Detail.append(pddd)
for i in priceee:
    rss=i.text
    Price.append(rss)
print(len(Price),len(Brand),len(Production_Detail))

200 200 169

In [132]:
sneakers=pd.DataFrame({})
sneakers['Brand']=Brand[:100]
sneakers['Production Detail']=Production_Detail[:100]
sneakers['Price']=Price[:100]

In [133]:
sneakers

        Brand                                  Production Detail Price
0       Echor  Men's Sneakers Fashion Lightweight Running Sho...  ₹499
1    ASTEROID  Original Luxury Branded Fashionable Men's Casu...  ₹474
2      BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men  ₹299
3    URBANBOX              Sports Running Shoes Sneakers For Men  ₹247
4       BIRDE  Luxury Branded Fashionable Men's Casual Walkin...  ₹299
..        ...                                                ...   ...
95      BIRDE         Sneakers for men(black_6) Sneakers For Men  ₹535
96  Trendmode  Casual Sneakers White Shoes For Men Sneakers F...  ₹240
97   CALCADOS     Casual Sneakers Shoes For Men Sneakers For Men  ₹899
98     Labbin   Combo Pack of 5 Casual Sneakers Sneakers For Men  ₹474
99    Wlinzak                            SM-322 Sneakers For Men  ₹475

[100 rows x 3 columns]

## Q.7 Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.
### And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [201]:
driver.get('https://www.myntra.com/shoes')

In [202]:
url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6137.0_12025.0_6137.0%20TO%2012025.0"

In [203]:
driver.get(url)

In [193]:
Brand_shoe=[]
Desc_shoe=[]
Price_shoe=[]

In [204]:
brand_shoe=driver.find_elements_by_xpath("//h3[@class='product-brand']")
shoe_detail=driver.find_elements_by_xpath("//h4[@class='product-product']")
shoe_price=driver.find_elements_by_xpath("//div[@class='product-price']")

<ipython-input-204-c9d44517dce3>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_shoe=driver.find_elements_by_xpath("//h3[@class='product-brand']")
<ipython-input-204-c9d44517dce3>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shoe_detail=driver.find_elements_by_xpath("//h4[@class='product-product']")
<ipython-input-204-c9d44517dce3>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shoe_price=driver.find_elements_by_xpath("//div[@class='product-price']")

In [206]:
for i in brand_shoe:
    bd=i.text
    Brand_shoe.append(bd)
for i in shoe_detail:
    pddd=i.text
    Desc_shoe.append(pddd)
for i in shoe_price:
    rss=i.text
    Price_shoe.append(rss)

In [207]:
print(len(Price_shoe),len(Brand_shoe),len(Desc_shoe))

176 200 200

In [216]:
shoe=pd.DataFrame({})
shoe['Brand']=Brand_shoe[:100]
shoe['Detail']=Desc_shoe[:100]
shoe['Price']=Price_shoe[:100]
shoe

,Brand,Detail,Price
0,ASICS,Men GEL-KAYANO 27 Shoes,Rs. 10499
1,Puma,Men Running Shoes,Rs. 6499
2,Puma,Men Deviate Nitro Running Shoe,Rs. 8249
3,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 6299
4,Puma,Women Eternity NITRO Shoes,Rs. 6499
...,...,...,...
95,Ruosh,Men Solid Leather Formal Monks,Rs. 8999Rs. 9999(10% OFF)
96,J.FONTINI,Men Solid Leather Formal Derbys,Rs. 7999Rs. 9999(20% OFF)
97,Saint G,Leather Boots with Buckles,Rs. 6990
98,UNDER ARMOUR,Women Charged Impulse Shft,Rs. 8999Rs. 9999(10% OFF)
99,Heel & Buckle London,Leather Block Gladiators,Rs. 11999

## Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [233]:
driver.get('https://www.amazon.in/')

In [234]:
search_laptop=driver.find_element_by_id('twotabsearchtextbox')
search_laptop.send_keys("Laptop")

<ipython-input-234-4e1d35b88ceb>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_laptop=driver.find_element_by_id('twotabsearchtextbox')

In [235]:
search_btn=driver.find_element_by_id("nav-search-submit-button")
search_btn.click()

<ipython-input-235-d0c4f69c9c56>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_id("nav-search-submit-button")

In [236]:
url="https://www.amazon.in/s?k=Laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&crid=H1J6TTMT0LS3&qid=1639840401&rnid=12598141031&sprefix=laptop%2Caps%2C1491&ref=sr_nr_p_n_feature_thirteen_browse-bin_11"

In [237]:
driver.get(url)

In [225]:
title=[]
Rating=[]
Price=[]

In [252]:
title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
Rating_tags=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

<ipython-input-252-9bacbbf064f6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
<ipython-input-252-9bacbbf064f6>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Rating_tags=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
<ipython-input-252-9bacbbf064f6>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [253]:
for i in title_tags:
    tt=i.text
    title.append(tt)
for i in Rating_tags:
    rt=i.text
    Rating.append(rt)
for i in price_tags:
    pt=i.text
    Price.append(pt)

In [248]:
print(len(title),len(Rating),len(Price))

112 55 100

In [254]:
laptop=pd.DataFrame({})
laptop['Title']=title[:10]
laptop['Rating']=Rating[:10]
laptop['Price']=Price[:10]
laptop

                                               Title Rating     Price
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...         1,52,890
1  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...         5,40,951
2  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...         1,48,990
3  ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz...         2,65,999
4  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...         2,25,000
5  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...         2,01,900
6  Dell XPS 7590 39.62 cm (15.6-inch) UHD Display...         3,75,000
7  Dell XPS 17 (2021) i9-11900H Touch Screen Lapt...         2,45,000
8  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...         2,07,990
9  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...         2,39,000

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
- This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [261]:
driver.get('https://www.ambitionbox.com/jobs')

In [263]:
search_jobb=driver.find_element_by_name('ab_jobsSearch')
search_jobb.send_keys("Data Scientist")

<ipython-input-263-8f9927f07229>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_jobb=driver.find_element_by_name('ab_jobsSearch')

In [264]:
search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_btn.click()

<ipython-input-264-198e795d2968>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")

In [265]:
url="https://www.ambitionbox.com/jobs/search?tag=Data%20Scientist&location=Noida"

In [266]:
driver.get(url)

In [267]:
# solet's extract all the tags having the job_titles
job_title=[]
company_names=[]
experience_list=[]

In [272]:
job_titles=driver.find_elements_by_xpath("//a[@class='title noclick']")
comapny_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
experience=driver.find_elements_by_xpath("//p[@class='body-small-l']")

<ipython-input-272-f3772307887a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  job_titles=driver.find_elements_by_xpath("//a[@class='title noclick']")
<ipython-input-272-f3772307887a>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comapny_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
<ipython-input-272-f3772307887a>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience=driver.find_elements_by_xpath("//p[@class='body-small-l']")

In [273]:
# Now the text of the job title is inside the tags extracted above
# so we will run a loop to iterate over the tags extracted above and extracted the detail
for i in job_titles:
    title=i.text
    job_title.append(title)
for i in comapny_name:
    name=i.text
    company_names.append(name)
for i in experience:
    ex=i.text
    experience_list.append(ex)
job=pd.DataFrame({})
job['Job_Title']=job_title[:10]
job['Company Name']=company_names[:10]
job['Exp.']=experience_list[:10]
job

,Job_Title,Company Name,Exp.
0,Data Scientist,LG Electronics India Pvt. Ltd.,0-2 years
1,Data Scientist,LG Electronics India Pvt. Ltd.,Not Disclosed
2,Data Scientist,LG Electronics India Pvt. Ltd.,"Faridabad, Delhi NCR, New Delhi + 2 more"
3,Data Scientist,LG Electronics India Pvt. Ltd.,1 vacancy
4,Manager - Data Scientist,GENPACT India Private Limited,0-2 Yrs
5,Manager - Data Scientist,GENPACT India Private Limited,Not Disclosed
6,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...",NTT Data Business Solutions Pvt Ltd,"Faridabad, Delhi NCR, New Delhi +2 more"
7,Assistant Manager - Data Scientist,GENPACT India Private Limited,"Python, Deep Learning, NLP +6 more"
8,Data Science - Senior Data Scientist,Paytm,5-10 Yrs
9,Data Scientist - Consulting Firm (8-15 yrs),GI Group,Not Disclosed

## Q10: Write a python program to scrape the salary data for Data Scientist designation.
- You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
- The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [274]:
driver.get('https://www.ambitionbox.com/salaries')

In [275]:
company_name=[]
no_of_salaries=[]
avg_sal=[]
min_sal=[]
max_sal=[]

In [289]:
cm=driver.find_elements_by_xpath("//div[@class='company-info']/a")
ns=driver.find_elements_by_xpath("//div[@class='name']/span")
ms=driver.find_elements_by_xpath("//div[@class='value body-medium']")
avgs=driver.find_elements_by_xpath("//p[@class='averageCtc']")
maxs=driver.find_elements_by_xpath("//div[@class='value body-medium']")

<ipython-input-289-2d3ae39110bc>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  cm=driver.find_elements_by_xpath("//div[@class='company-info']/a")
<ipython-input-289-2d3ae39110bc>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ns=driver.find_elements_by_xpath("//div[@class='name']/span")
<ipython-input-289-2d3ae39110bc>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ms=driver.find_elements_by_xpath("//div[@class='value body-medium']")
<ipython-input-289-2d3ae39110bc>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avgs=driver.find_elements_by_xpath("//p[@class='averageCtc']")
<ipython-input-289-2d3ae39110bc>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  maxs=driver.find_elements_by_xpath("//div[@class='value body-medium']")

In [290]:
for i in cm:
    cm1=i.text
    comapny_name.append(cm1)
for i in ns:
    ns1=i.text
    no_of_salaries.append(ns1)
for i in ms:
    ms1=i.text
    min_sal.append(ms1)
for i in avgs:
    avgs1=i.text
    avg_sal.append(avgs1)
for i in maxs:
    max1=i.text
    max_sal.append(max1)

In [291]:
salary=pd.DataFrame({})
salary['Company Name']=company_name[:10]
salary['based on salary']=no_of_salaries[:10]
salary['Average']=avg_sal[:10]
salary['Minimum Salary']=min_sal[0:10]
salary['Maximum Salary']=max_sal[:10]
salary

   Company Name        based on salary  Average Minimum Salary Maximum Salary
0           NaN   based on 10 salaries  ₹ 23.3L        ₹ 14.0L        ₹ 14.0L
1           NaN  based on 218 salaries  ₹ 22.4L        ₹ 32.0L        ₹ 32.0L
2           NaN   based on 11 salaries  ₹ 21.9L        ₹ 12.0L        ₹ 12.0L
3           NaN   based on 53 salaries  ₹ 20.6L        ₹ 45.0L        ₹ 45.0L
4           NaN   based on 80 salaries  ₹ 19.1L        ₹ 16.0L        ₹ 16.0L
5           NaN   based on 35 salaries  ₹ 18.4L        ₹ 30.0L        ₹ 30.0L
6           NaN   based on 27 salaries  ₹ 18.2L         ₹ 7.0L         ₹ 7.0L
7           NaN   based on 15 salaries  ₹ 18.2L        ₹ 30.0L        ₹ 30.0L
8           NaN   based on 77 salaries  ₹ 17.9L         ₹ 8.0L         ₹ 8.0L
9           NaN   based on 12 salaries  ₹ 17.6L        ₹ 40.0L        ₹ 40.0L